
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos INC
//-

div(tg-gitlab-login-button)
    a.button.button-auth(href="", title="Enter with your gitlab account")
        img(src="plugins/gitlab-auth/images/gitlab-logo.png", alt="")
        span Sign in with GitLab
